body {
    margin: 0;
    background-color: #fff;
}

.image-container {
    display: flex;
    justify-content: flex-start; /* Align items to the start (left) */
    align-items: flex-end; /* Align items to the bottom */
    height: 100vh; /* Full viewport height to allow for varying image sizes */
    position: relative;
    overflow: hidden; /* Ensure overflow is hidden to prevent horizontal scrolling */
}

img {
    position: absolute; /* Position the image absolutely within the container */
    left: 0; /* Align the left edge of the image to the left edge of the container */
    bottom: 0; /* Align the bottom of the image to the bottom of the container */
}


.image-1-4 {
    width: 150px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}

.image-5-10 {
    width: 270px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}


